@model IEnumerable<Product>

@{
    ViewBag.Title = "Product List";
    Layout = "_AdminLayout";
}

<div class="text-right">
    <a class="btn btn-primary" asp-action="AddProduct" asp-controller="Admin">Add Product</a>
</div>

@if(Model.Count() > 0)
{
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th class="text-right">ID</th>
            <th>Name</th>
            <th class="text-right">Price</th>
            <th class="text-center">Actions</th>
        </tr>
        @foreach(Product p in Model)
        {
            <tr>
                <td class="text-right">@p.ProductID</td>
                <td>@p.Name</td>
                <td class="text-right">@p.Price.ToString("c")</td>
                <td class="text-center">
                    <form method="post" asp-action="DeleteProduct" asp-controller="Admin">
                        <input type="hidden" name="productId" value="@p.ProductID" />                        
                        <a asp-action="EditProduct" asp-route-productId="@p.ProductID" class="btn btn-sm btn-warning">Edit</a>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>                
            </tr>
        }
    </table>
}